@font-face {
    font-family: "SackersgothicstdLight";
    src: url('assets/fonts/sackersgothicstd-light.otf') format('opentype');
}
@font-face {
    font-family: 'BrandonMedium';
    src: url('assets/fonts/Brandon_med.otf') format('opentype');
}
@font-face {
    font-family: 'BrandonRegular';
    src: url('assets/fonts/Brandon_reg.otf') format('opentype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --theme-color: #fb9258;
    --theme-title-fonts: 'SackersgothicstdLight';
    --brandon-font: 'BrandonMedium';
    --brandon-regular: 'BrandonRegular';
}
body{
    font-family: var(--theme-title-fonts);
}
.primary-theme-text-color{
    color: var(--theme-color);
}
.works-main-title
{
    font-family: var(--brandon-regular);
}
footer
{
    background: #C8B6AD;
}
.header-listing
{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 0px;
}
.header-listing , li
{
    padding: 20px 20px 20px 0;
}

.header-listing , li , a
{
    font-family: var(--theme-title-fonts);
}

section
{
    margin: 100px 0;
}
.img-container
{
    overflow: hidden;
    width: 100%;
    height: auto;
}
.themes-title-fonts
{
    font-family: var(--brandon-font);
    font-size: 30px;
    letter-spacing: 5px;
}
.themes-para-fonts
{
    font-family: var(--brandon-font);
    font-size: 22px;
    color: #737372;
}
.themes-fonts
{
    font-family: var(--theme-title-fonts);
}
p{
    font-family: var(--brandon-font);
    background-clip: text;
}
a{
    text-decoration: none !important;
    color: gray !important;
}
li{
    list-style-type: none;
}


@media only screen and (min-width: 992px) {
    /*desktop*/
    .theme-container
    {
        width: 85%;
        margin: 0 auto;
    }

}


@media only screen and (max-width: 768px) {
    /*mobile*/
    /*header*/
    /*{*/
    /*    width: 95%;*/
    /*    margin: 0 auto;*/
	/*	top: 0;*/
    /*}*/
    /*.custom-theme-container*/
    /*{*/
    /*    width: 100%;*/
    /*    margin: auto;*/
    /*}*/
    /*.hambager-menu {*/
    /*    !*background: red;*!*/
    /*    overflow: hidden;*/
    /*    width: 50px;*/
    /*    display: block;*/
    /*}*/

}

.bar
{
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background: papayawhip;
    margin: 10px 0;
}
.hambager-menu
{
    /*width: 10%;*/
    display: none;
    /*float: right;*/
}

/*------------------- navbar overlay end ---------------------------*/

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 10000;
}

.overlay-content {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 15px 20px;
    text-align: right;
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    display: block;
    transition: 0.3s;
    margin-right: 20px;
    font-family: var(--theme-title-fonts);
}

.overlay a:hover,
.overlay a:focus {
    color: #3c8132;
    transform: scale(1.1) translate(0px , -5px);
}

.overlay .closebtn {
    text-decoration: none !important;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    opacity: 0.5;
    background: #66666A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
	margin-bottom: 30px;
}

.overlay .closebtn:hover {
    transform: scale(1.3);
}
/*------------------- navbar overlay end ---------------------------*/