.about-bg
{
    width: 100%;
    height: 1280px;
    background-image: url('../images/about_bg.png');
    background-repeat: no-repeat;
    /*background: black;*/
    /*opacity: 0.4;*/
    /*background-image: url('../images/about_bg.png');*/
}
.dual-card
{
/*     width: 292px; */
    height: 357px;
    display: flex;
    /*flex-direction: column;*/
    text-align: center;
    align-items: center;
    justify-content: center;
}